/*#### GENERAL #############*/

html, body {
    font: 30px "Times New Roman";
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height:100vh;

    background-color: beige;
}

h2 {
    text-decoration: underline;

    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;

    background-color: rgb(242, 242, 159);
}

p {
    font: bold italic 30px "Crusive";
    margin-top: 0;
}

/*###### LOGO INSTAGRAM #########*/

.logoinstagram {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 600px; height: 600px;
    margin-top: 50px;

    border: 5px solid black;
    border-radius: 100px;

    background-color: rgb(176, 218, 217);
}

            .icono {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 500px; height: 500px;

                border-radius: 100px;
                background-image: linear-gradient(130deg,
                rgb(73, 154, 246) 0%,
                rgb(164, 24, 164) 35%,
                rgb(245, 48, 48) 60%,
                rgb(255, 193, 77) 80%);
                box-shadow: 6px 6px 15px black;
            }

            .cuadradoblanco {
                position: absolute;
                box-sizing: border-box;

                width: 350px; height: 350px;

                border: 20px solid white;
                border-radius: 70px;
            }

            .circuloblanco {
                position: absolute;
                box-sizing: border-box;

                width: 220px; height: 220px;

                border: 20px solid white;
                border-radius: 100%;
            }

            .puntoblanco {
                position: absolute;
                right: 30px; top: 30px;

                width: 30px;
                height: 30px;

                border-radius: 100%;

                background-color: white;
            }
